<h1 align="center">Anagram!</h1>
<form action='/anagram_out' align="center">
  <div class="form-group">
     <label for="anagram">Word to anagram</label>
     <input id="anagram" name="anagram" class="form-control" type="text" size="30">
  </br>
  </br>
     <label for="anagram">Words list</label>
     <input id="word_list" name="word_list" class="form-control" type="text" size="45">
  </div>

  </br>
  </br>
  <button type="submit" class="btn-success">Send</button>
</form>
