<h1> Clock Angle Page </h1>

<h3> When the time is <%= @c_hours %>:<%= @c_minutes %>, </br>

  The angle between the hands is <%= @c_output %> the short way </br>

  and <%= @c_output_long %> the long way.
