<h1 align="center">Coins!</h1>
<form action='/coins_out' align="center">
  <div class="form-group">
     <label for="coins">Number of Pennies</label>
     <input id="coins" name="coins" class="form-control" type="text">
  </div>
</br>
  <button type="submit" class="btn-success">Send</button>
</form>
