</br>
</br>
<form action="/anagram_form" align="center">
    <input id="anagram-button" type="submit" value="Anagram">
</form>
</br></br>
<form action="/coins" align="center">
    <input id="coins-button" type="submit" value="Coins">
</form>
