<h1>Epicodus Projects</h1>
</br>
</br>
<form action="/rochambeau_1p" align="center">
  <input id="form" type="submit" value="1 Player">
</form>
</br>
</br>
<form action="/rochambeau_2p" align="center">
  <input id="form_2p" type="submit" value="2 Player">
</form>
</br>
</br>
</br>
<form action="/fnr_form" align="center">
  <input id="fnr_form" type="submit" value="Find and Replace">
</form>
</br>
</br>
</br>
<form action="/palindrome_form" align="center">
  <input id="palindrome" type="submit" value="Palindrome">
</form>
</br>
</br>
<form action="/anagram_form" align="center">
  <input id="anagram-button" type="submit" value="Anagram">
</form>
</br>
</br>
<form action="/coins" align="center">
  <input id="coins-button" type="submit" value="Coins">
</form>
</br>
</br>
<form action="/ping-pong" align="center">
  <input id="pp_input" type="text" name="pp_input" placeholder="Number for Ping Pong!">
</br>
</br>
  <input id="ping_pong" type="submit" value="Ping Pong">
</form>
</br>
</br>
<form action="/queen_attack" align="center">
</br>
  <input id="queen_x" type="text" name="queen_x" placeholder="Queen's x" size="5">
  <input id="attacker_x" type="text" name="attacker_x" placeholder="Attacker's x" size="8">
</br>
  <input id="queen_y" type="text" name="queen_y" placeholder="Queen's y" size="5">
  <input id="attacker_y" type="text" name="attacker_y" placeholder="Attacker's y" size="8">
</br>
</br>
  <input id="queen_attack" type="submit" value="Queen Attack">
</form>
</br>
</br>
<form action="/clock" align="center">
  <input id="clock_float" type="text" name="c_hours" placeholder="hours">
</br>
  <input id="clock_float" type="text" name="c_minutes" placeholder="minutes">
</br>
</br>
  <input id="clock" type="submit" value="Clock Angle">
</form>
