
<form action="/scrabble_results">
<label for="word">Enter a word to get the scrabble score!</label>
<input id="word" name="word" type="text">
<input name="submit" type="submit" class="btn btn-info">
</form>