
<h3>Find the frequency of a word inside of text</h3>
<form action='/wf_result' align="center">
<div class="form-group">
<label for="input_string">
Enter a bunch of text:
</label>
<input id="input_string" name="input_string" class="form-control" type="text" size="30">
</br>
</br>
<label for="findme">
Now enter a word to search for:
</label>
<input id="findme" name="findme" class="form-control" type="text" size="45">
</div>
</br>
</br>
<button type="submit" class="btn-success">Find em!</button>
</form>
</br>
</br>