<div id="custom_message">
<%=
if @final_count == 0
@results_message = "There are no instances of the word "
elsif @final_count == 1
@results_message = "There is one instance of the word "
else
@results_message = "There are #{@final_count} instances of the word "
end
%>
</div>
</br>
<div id="findme">
<h2>
<%=
@findme
%>
</h2>
</div>
</br>
<p>inside of</p>
</br>
<div id="input_text">
<%=
@input_string
%>
</div>
</br>
<em>(not counting typos!!)</em>